@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

.navbar {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 100%;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: black;
    transition: color 0.2s ease-in-out;
}

.navbar a:hover {
    color: #8338EC;
}

.button {
    background-color: #04080F;
    color: #8338EC;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
  }
  
  .button:hover {
    background-color: #00E8FC;
  }
  