.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: black;
    transition: color 0.2s ease-in-out;
}

.navbar a:hover {
    color: red;
}
  