.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #04080F;
}

.map-container {
  flex: 1;
  display: flex;
  position: relative;
}

.country-popup-container {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 33%;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.close-button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
}

  